
  footer {
    list-style-type: none;
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: var(--s);
    text-align: left;
  
    li:before {
      content: "» ";
    }
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  } 