.favoriten-list {
    background-color: var(--color-grey);
    padding: var(--m); 
    list-style-type: none; 
    margin: var(--m);
    
}

.favoriten-list-item {
    background-color: var(--color-white);
    margin: 5px 0; 
    padding: 10px; 
    position: relative;     
}

.favoriten-list-item > .material-symbols-outlined {
    font-size: 32px;
    max-width: fit-content;
    max-height: fit-content;
    color: var(--color-black);
    position: relative;
    
}

.favoriten-list-item > a {
    display: flex;
    max-width: fit-content;
    max-height: fit-content;
    position:absolute; 
    top: 15px; 
    left: 50px; 
}

.favoriten-list-item > p {
    padding-left: 42px;
    top: 70px;
    left: 50px; 
    font-size: var(--s);
}