.history {
    padding: var(--m);
    margin-top: var(--m);
   
  }
  
  .cards {
   display: grid;
   gap: 2rem;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  }
  
  .card {
    flex: 1 1 calc(30% - var(--s)); 
    margin-bottom: var(--s); 
    padding:5px;
  }
  
  .card > img {
    width: 100%;
    height: auto; 
    border-radius: 10px;
  }

  .card > p {
    padding: 5px;

  }
  
  .card > a {
    padding: 5px;
  }