html,body{
    font-family: "source-sans-3";
    max-width: fit-content;
    max-height: fit-content;
    min-width: 300px;
    min-height: 300px;
}

h1{
    font-size:xx-large;
    font-weight: bold;
}

h2{
    font-size: x-large;
    font-weight: bold;
    padding:var(--m);
}

a{
    color:black;

}

img{
    size: 100%;
}

hr{
    width: 350px;
    border-radius: 50%;
}

.leiste{
    position: absolute;
    right: 10px;
    top: 10px;
    
}
.leiste li {
    display: inline-block;
    max-inline-size: 100vw;
}
.leiste a {
    padding: 5px;
}