.schreibtisch-list{
    background-color: var(--color-grey);
    padding: var(--m); 
    list-style-type: none; 
    margin: var(--m);
}

.schreibtisch-list-item{
    background-color: var(--color-white);
    margin: 5px 0; 
    padding: 10px; 
    position: relative;  
}
.schreibtisch-list-item > a {
      position: absolute;
      top: 20px;
}
.schreibtisch-list-item > .material-symbols-outlined{
    font-size: 32px;
    color: var(--color-black);
    margin-right: var(--m); 
}